/*
 * CSS File for the solution
 * Midterm Exam
 * You got this!
 */

/*
 * COLOUR PALETTE
 *
 * YOU DO NOT NEED TO USE THESE COLOURS, BUT YOU CAN IF YOU WANT TO
 *   #ede0d4
 *   #e6ccb2
 *   #ddb892
 *   #b08968
 *   #7f5539
 *   #9c6644
 *
 * https://coolors.co/palette/ede0d4-e6ccb2-ddb892-b08968-7f5539-9c6644
 */

/*
 * The width of my Product Card in the screenshot was 400px
 * You can use that width or set your own width
 */

/*
 * HINT: For making image fill the container use object-fit:cover property:
 *  https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit
 */

html {
  font-size: 1.0rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color:#e6ccb2;
}

header {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 7rem;
  padding-right:7rem;
  background-color: #e6ccb2;
  color: ##b08968;
  


}

.text {
  padding:1rem;
  display:flex;
  Flex-direction:column;
  justify-content:center;
  align-items:start;
  object-fit:cover
}

.flex_container {
  border:1rem black;
  Border-radius:1.5rem;
  background-color:white;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  object-fit:cover
}

.hot {
  color:#9c6644;
  font-size:x-small;
}

button {
  border:1rem black;
  Border-radius:0.5rem;
  color:white;
  background-color:#4d3323;
  width:100%;

}

.image {
  border:1rem black;
  Border-top-right-radius:1.5rem;
  Border-top-left-radius:1.5rem;
  background-color:white;
  object-fit:cover
}

.h499 {
  color:#9c6644;
  font-size:xx-large;
}

h2 {
  color:#4d3323;
}